<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Property | ASMARALOKA</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static' , filename='../static/css/agentDashboard.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static' , filename='../static/images/favicon.png') }}">
</head>

<body>
    <div class="area">
        <div class="container rounded bg-white mt-5 mb-5">
            <h2 class="text-right"><b>| UPDATE PROPERTY</b></h2>
            <div class="row">

                <div class="col-md-5 border-right">
                    <form action="/updateProperty/{{property_to_update.property_ID}}" method="POST">
                        <div class="p-3 py-5">
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <h4 class="text-right">Describe the Property</h4>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-12">
                                    <label class="labels">Title</label>
                                    <input type="text" class="form-control pb-2 pt-2" name="property_Title"
                                        value="{{property_to_update.property_Title}}" required>
                                </div>
                                <div class="col-md-12 mt-3">
                                    <label class="labels">Street Address</label>
                                    <input type="text" class="form-control pb-2 pt-2" name="property_Address"
                                        value="{{property_to_update.property_Address}}" required>
                                </div>
                                <div class="col-md-12 mt-3">
                                    <label class="labels">City</label>
                                    <input type="text" class="form-control pb-2 pt-2" name="property_City"
                                        value="{{property_to_update.property_City}}" required>
                                </div>
                                <div class="row col-md-12">
                                    <div class="col-6 mt-3">
                                        <label class="labels">State</label>
                                        <select class="form-select pb-2 pt-2" name="property_State"
                                            aria-label="Default select example" required>
                                            <option selected value="{{property_to_update.property_State}}">
                                                {{property_to_update.property_State}}</option>
                                            <option disabled>-</option>
                                            <option value="Selangor">Selangor</option>
                                            <option value="Johor">Johor</option>
                                            <option value="Penang">Penang</option>
                                            <option value="Perak">Perak</option>
                                            <option value="Negeri Sembilan">Negeri Sembilan</option>
                                            <option value="Sabah">Sabah</option>
                                            <option value="Sarawak">Sarawak</option>
                                            <option value="Kedah">Kedah</option>
                                            <option value="Kelantan">Kelantan</option>
                                            <option value="Pahang">Pahang</option>
                                            <option value="Melaka">Melaka</option>
                                            <option value="Terengganu">Terengganu</option>
                                            <option value="Putrajaya">Putrajaya</option>
                                            <option value="Perlis">Perlis</option>
                                            <option value="Labuan">Labuan</option>
                                        </select>
                                    </div>
                                    <div class="col-6 mt-3">
                                        <label class="labels">ZIP Code</label>
                                        <input type="text" class="form-control pb-2 pt-2" name="property_Zip"
                                            value="{{property_to_update.property_Zip}}" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 mt-3">
                                <label class="labels">Description</label>
                                <textarea class="form-control pb-2 pt-2" name="property_Description" rows="8" cols="50"
                                    required
                                    style="resize: none;">{{property_to_update.property_Description}}</textarea>
                            </div>
                        </div>
                </div>

                <div class="col-md-4">
                    <div class="p-3 py-5">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h4 class="text-right">Property Details</h4>
                        </div>
                        <div class="col-md-12 mt-3">
                            <label class="labels">Property Type</label>
                            <select class="form-select pb-2 pt-2" name="property_Type"
                                aria-label="Default select example" required>
                                <option selected value="{{property_to_update.property_Type}}">
                                    {{property_to_update.property_Type}}</option>
                                <option disabled>- Select property type -</option>
                                <option value="Apartment/Flat">Apartment/Flat</option>
                                <option value="Condominium">Condominium</option>
                                <option value="Commercial Property">Commercial Property</option>
                                <option value="Terrace/Link/Townhouse">Terrace/Link/Townhouse</option>
                                <option value="Semi-D/Bungalow">Semi-D/Bungalow</option>
                                <option value="Residential Land">Residential Land</option>
                                <option value="Commercial Property">Commercial Property</option>
                            </select>
                        </div>
                        <div class="col-md-12 mt-3">
                            <label class="labels">Tenure Type</label>
                            <select class="form-select pb-2 pt-2" name="property_Tenure"
                                aria-label="Default select example" value="{{property_to_update.property_Tenure}}"
                                required>
                                <option selected value="{{property_to_update.property_Tenure}}">
                                    {{property_to_update.property_Tenure}}</option>
                                <option disabled>- Select tenure type -</option>
                                <option value="Freehold">Freehold</option>
                                <option value="Leasehold">Leasehold</option>
                            </select>
                        </div>
                        <div class="col-md-12 mt-3">
                            <label class="labels">Price</label>
                            <input type="text" class="form-control pb-2 pt-2" id="price" name="property_Price"
                                value="{{property_to_update.property_Price}}" required>
                        </div>
                        <div class="col-md-12 mt-3">
                            <label class="labels">Area (sqft)</label>
                            <input type="text" class="form-control pb-2 pt-2" name="property_Sqft"
                                value="{{property_to_update.property_Sqft}}" required>
                        </div>
                        <div class="col-md-12 mt-3">
                            <label class="labels">Bedroom</label>
                            <select class="form-select pb-2 pt-2" name="property_Bedroom"
                                aria-label="Default select example" value="{{property_to_update.property_Bedroom}}"
                                required>
                                <option selected value="{{property_to_update.property_Bedroom}}">
                                    {{property_to_update.property_Bedroom}}</option>
                                <option disabled>-</option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10+">10+</option>
                            </select>
                        </div>
                        <div class="col-md-12 mt-3">
                            <label class="labels">Bathroom</label>
                            <select class="form-select pb-2 pt-2" name="property_Bathroom"
                                aria-label="Default select example" value="{{property_to_update.property_Bathroom}}"
                                required>
                                <option selected value="{{property_to_update.property_Bathroom}}">
                                    {{property_to_update.property_Bathroom}}</option>
                                <option disabled>-</option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10+">10+</option>
                            </select>
                        </div>
                        <input type="hidden" name="agent_ID" value="{{current_user.agent_ID}}" />
                    </div>
                </div>
                <div class="d-flex justify-content-end col-12 mt-4">
                    <button class="btn btn-secondary me-3 pt-2 pb-2 pe-5 ps-5"><a href="/agentAllListing"
                            style="text-decoration: none; color: white;">Cancel</a></button>
                    <input type="submit" class="btn btn-primary pt-2 pb-2 pe-5 ps-5" value="Update">
                </div>
                </form>
            </div>
        </div>
    </div>


    <!-- SIDEBAR MENU -->

    <nav class="main-menu">
        <ul>
            <li>
                <img src="{{ url_for('static' , filename='../static/images/logo-agent.png') }}" alt="logo.png">

            </li>
            <li>
                <a href="/agentDashboard">
                    <i class="fa fa-home fa-2x"></i>
                    <span class="nav-text">
                        Dashboard
                    </span>
                </a>

            </li>
            <li class="has-subnav">
                <a href="/createProperty">
                    <i class="fa fa-list fa-2x"></i>
                    <span class="nav-text">
                        Add New Listing
                    </span>
                </a>

            </li>
            <li class="has-subnav">
                <a href="/agentAllListing">
                    <i class="fa fa-folder-open fa-2x"></i>
                    <span class="nav-text">
                        My Listing
                    </span>
                </a>
            </li>
            <li>
                <a href="/agentAllAppointment">
                    <i class="fa fa-table fa-2x"></i>
                    <span class="nav-text">
                        My Appointment
                    </span>
                </a>
            </li>
        </ul>

        <ul class="logout">
            <li>
                <a href="logout">
                    <i class="fa fa-power-off fa-2x"></i>
                    <span class="nav-text">
                        Logout
                    </span>
                </a>
            </li>
        </ul>
    </nav>

    <!-- END SIDEBAR MENU -->
</body>

</html>