<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agent Dashboard | ASMARALOKA</title>
    <link rel="stylesheet" href="{{ url_for('static' , filename='../static/css/agentDashboard.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static' , filename='../static/images/favicon.png') }}">
</head>

<body>
    <div class="area">
        <div class="container rounded bg-white mt-5 mb-5">
            <div class="row">
                <h2 class="text-right"><b>| UPDATE PROFILE</b></h2>
                <div class="col-md-3 border-right">
                    <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="mt-5 mb-2"
                            width="150px"
                            src="https://www.kindpng.com/picc/m/78-785827_user-profile-avatar-login-account-male-user-icon.png"><span
                            class="font-weight-bold">{{current_user.agent_First_Name}}
                            {{current_user.agent_Last_Name}}</span><span
                            class="text-black-50">{{current_user.agent_Email}}</span><span> </span></div>
                </div>
                <div class="col-md-5 border-right">
                    <div class="p-3 py-5">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                        </div>
                        <form method="POST" action="/updateAgent/{{agent_to_update.agent_ID}}">
                            <div class=" row mt-2">
                                <div class="col-md-6">
                                    <label class="labels">First Name</label>
                                    <input type="text" class="form-control" name="agent_First_Name"
                                        value="{{agent_to_update.agent_First_Name}}" required>
                                </div>
                                <div class="col-md-6">
                                    <label class="labels">Last Name</label>
                                    <input type="text" class="form-control" name="agent_Last_Name"
                                        value="{{agent_to_update.agent_Last_Name}}" required>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-12">
                                    <label class="labels">Email ID</label>
                                    <input type="text" class="form-control" name="agent_Email"
                                        value="{{agent_to_update.agent_Email}}" required>
                                </div>
                                <div class="col-md-12">
                                    <label class="labels">Password</label>
                                    <input type="text" class="form-control" name="agent_Password"
                                        value="{{agent_to_update.agent_Password}}" required>
                                </div>
                                <div class="col-md-12">
                                    <label class="labels">Phone Number</label>
                                    <input type="text" class="form-control" name="agent_Phone_No"
                                        value="{{agent_to_update.agent_Phone_No}}" required>
                                </div>
                                <div class="col-md-12">
                                    <label class="labels">REN No.</label>
                                    <input type="text" class="form-control" id="ren" name="agent_REN_No"
                                        value="{{agent_to_update.agent_REN_No}}" required>
                                </div>
                                <div class="col-md-12">
                                    <label class="labels">Agency</label>
                                    <input type="text" class="form-control" name="agent_Agency"
                                        value="{{agent_to_update.agent_Agency}}" required>
                                </div>
                            </div>
                            <div class="mt-5 text-center">
                                <input class="btn btn-primary profile-button" type="submit" value="Update">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="p-3 py-5">
                        <div class="d-flex justify-content-between align-items-center experience"><span>Edit
                                Experience</span><span class="border px-3 p-1 add-experience"><i
                                    class="fa fa-plus"></i>&nbsp;Experience</span></div><br>
                        <div class="col-md-12"><label class="labels">Experience in Designing</label><input type="text"
                                class="form-control" placeholder="experience" value=""></div> <br>
                        <div class="col-md-12"><label class="labels">Additional Details</label><input type="text"
                                class="form-control" placeholder="additional details" value=""></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- SIDEBAR MENU -->

    <nav class="main-menu">
        <ul>
            <li>
                <img src="{{ url_for('static' , filename='../static/images/logo-agent.png') }}" alt="logo.png">

            </li>
            <li>
                <a href="agentDashboard">
                    <i class="fa fa-home fa-2x"></i>
                    <span class="nav-text">
                        Dashboard
                    </span>
                </a>

            </li>
            <li class="has-subnav">
                <a href="#">
                    <i class="fa fa-laptop fa-2x"></i>
                    <span class="nav-text">
                        Stars Components
                    </span>
                </a>

            </li>
            <li class="has-subnav">
                <a href="agentCreateListing">
                    <i class="fa fa-list fa-2x"></i>
                    <span class="nav-text">
                        Create Listing
                    </span>
                </a>

            </li>
            <li class="has-subnav">
                <a href="#">
                    <i class="fa fa-folder-open fa-2x"></i>
                    <span class="nav-text">
                        Pages
                    </span>
                </a>

            </li>
            <li>
                <a href="#">
                    <i class="fa fa-bar-chart-o fa-2x"></i>
                    <span class="nav-text">
                        Graphs and Statistics
                    </span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-font fa-2x"></i>
                    <span class="nav-text">
                        Quotes
                    </span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-table fa-2x"></i>
                    <span class="nav-text">
                        Tables
                    </span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-map-marker fa-2x"></i>
                    <span class="nav-text">
                        Maps
                    </span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-info fa-2x"></i>
                    <span class="nav-text">
                        Documentation
                    </span>
                </a>
            </li>
        </ul>

        <ul class="logout">
            <li>
                <a href="logout">
                    <i class="fa fa-power-off fa-2x"></i>
                    <span class="nav-text">
                        Logout
                    </span>
                </a>
            </li>
        </ul>
    </nav>


</body>

</html>