<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Property Lisiting | ASMARALOKA</title>
    <link rel="stylesheet" href="{{ url_for('static' , filename='../static/css/agentDashboard.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static' , filename='../static/images/favicon.png') }}">

    <style>
        table {
            counter-reset: tableCount;
        }

        .counterCell:before {
            content: counter(tableCount);
            counter-increment: tableCount;
        }
    </style>
</head>

<body>
    <div class="area">
        <div class="container rounded bg-white mt-5 mb-5">
            <div class="row mw-100">
                <h2 class="text-right"><b>| MY LISTING</b></h2>
                <div class="col-lg-15 border-right">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">No.</th>
                                <th scope="col">Title</th>
                                <th scope="col">Type</th>
                                <th scope="col">Location</th>
                                <th scope="col">Size Area</th>
                                <th scope="col">Price</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in agent_property %}
                            <tr>
                                <th scope="row" class="counterCell"></th>
                                <td>{{row.property_Title}}</td>
                                <td>{{row.property_Type}}</td>
                                <td>{{row.property_City}}, {{row.property_State}}</td>
                                <td>{{row.property_Sqft}} sqft</td>
                                <td>RM{{"{:,}".format(row.property_Price)}}</td>
                                <td>
                                    <a class="btn btn-primary" href="/updateProperty/{{row.property_ID}}">Update</a>
                                    <a class="btn btn-danger" href="/deleteProperty/{{row.property_ID}}">Delete</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <!-- SIDEBAR MENU -->

    <nav class="main-menu">
        <ul>
            <li>
                <img src="{{ url_for('static' , filename='../static/images/logo-agent.png') }}" alt="logo.png">

            </li>
            <li>
                <a href="agentDashboard">
                    <i class="fa fa-home fa-2x"></i>
                    <span class="nav-text">
                        Dashboard
                    </span>
                </a>

            </li>
            <li class="has-subnav">
                <a href="createProperty">
                    <i class="fa fa-list fa-2x"></i>
                    <span class="nav-text">
                        Add New Listing
                    </span>
                </a>

            </li>
            <li class="has-subnav">
                <a href="agentAllListing">
                    <i class="fa fa-folder-open fa-2x"></i>
                    <span class="nav-text">
                        My Listing
                    </span>
                </a>
            </li>
            <li>
                <a href="agentAllAppointment">
                    <i class="fa fa-table fa-2x"></i>
                    <span class="nav-text">
                        My Appointment
                    </span>
                </a>
            </li>
        </ul>

        <ul class="logout">
            <li>
                <a href="logout">
                    <i class="fa fa-power-off fa-2x"></i>
                    <span class="nav-text">
                        Logout
                    </span>
                </a>
            </li>
        </ul>
    </nav>

    <!-- END SIDEBAR MENU -->
</body>

</html>