<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link
        href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static' , filename='../static/css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static' , filename='../static/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static' , filename='../static/css/font-awesome.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static' , filename='../static/images/favicon.png') }}">

    <title>Your One Stop Property Listing | ASMARALOKA</title>

    <script src="https://kit.fontawesome.com/21bc1afb81.js" crossorigin="anonymous"></script>

</head>

<body>


    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="/" class="logo">ASMARA<em>LOKA</em></a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li><a href="/" class="active">Home</a></li>
                            <li><a href="properties">Properties</a></li>
                            <li class="dropdown">
                                <a class="fa-solid fa-user" data-toggle="dropdown" role="button" aria-haspopup="true"
                                    aria-expanded="false" style="font-size: 25px; cursor:pointer;"></a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="loginClient">Login</a>
                                    <a class="dropdown-item" href="registerClient">Register</a>
                                    <span class="dropdown-partition">AGENT OPTIONS</span>
                                    <a class="dropdown-item" href="loginAgent">Login Agent</a>
                                    <a class="dropdown-item" href="registerAgent" style="padding-bottom: 45px;">Register
                                        Agent</a>
                                </div>
                            </li>
                        </ul>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Main Banner Area Start ***** -->
    <div class="main-banner" id="top">
        <video autoplay muted loop id="bg-video">
            <source src="{{ url_for('static' , filename='../static/images/video.mp4') }}" type="video/mp4" />
        </video>

        <div class="video-overlay header-text">
            <div class="caption">
                <h2>YOUR ONE-STOP<br><em> REAL ESTATE PORTAL</em></h2>
                <h3>The fastest way to find the best property listing</h3>
                <div class="main-button">
                    <a href="properties">Browse Property</a>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Main Banner Area End ***** -->

    <!-- ***** Cars Starts ***** -->
    <section class="section" id="trainers">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="section-heading">
                        <h2>Featured <em>Properties</em></h2>
                        <img src="{{ url_for('static' , filename='../static/images/line-dec.png') }}" alt="">
                        <p>Browse over 100,000 properties scraped from Malaysia's two biggest property
                            marketplace.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="trainer-item">
                        <div class="image-thumb">
                            <img src="https://d5dkjitd3iude.cloudfront.net/eyJidWNrZXQiOiJ3d3cudGhlZWRnZXByb3BlcnR5LmNvbS5teSIsImtleSI6InMzZnMtcHVibGljXC8xMDEyMjNfMTY0MjkyMDQ3NV81RWRnUHJvNV8xMF8wLmpwZyIsImVkaXRzIjp7InJlc2l6ZSI6eyJ3aWR0aCI6MzAwLCJoZWlnaHQiOjIwMCwiZml0IjoiY292ZXIifX19"
                                alt="">
                        </div>
                        <div class="down-content">
                            <span>
                                <del><sup>RM</sup>500,000</del> <sup>RM</sup>402,188
                            </span>
                            <h4>Kampung Baru Seri Kembangan</h4>
                            <p>Seri Kembangan, Selangor</p>
                            <ul class="social-icons">
                                <li><a href="https://www.edgeprop.my/listing/sale/1573627/selangor/seri_kembangan/landed/terracehouse/putrajaya-10--2558-sqft-32x88-freehold--g-g"
                                        target=”_blank”>+
                                        View More</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="trainer-item">
                        <div class="image-thumb">
                            <img src="https://d5dkjitd3iude.cloudfront.net/eyJidWNrZXQiOiJ3d3cudGhlZWRnZXByb3BlcnR5LmNvbS5teSIsImtleSI6InMzZnMtcHVibGljXC8xMDEyMjNfMTYzODc3OTkzOF81RWRnUHJvNV84N18wLmpwZyIsImVkaXRzIjp7InJlc2l6ZSI6eyJ3aWR0aCI6MzAwLCJoZWlnaHQiOjIwMCwiZml0IjoiY292ZXIifX19"
                                alt="">
                        </div>
                        <div class="down-content">
                            <span>
                                <del><sup>RM</sup>500,000</del> <sup>RM</sup>441,288
                            </span>
                            <h4>Bandar Baru Ampang</h4>
                            <p>Ampang, Selangor</p>
                            <ul class="social-icons">
                                <li><a href="https://www.edgeprop.my/listing/sale/1542686/selangor/ampang/landed/terracehouse/bumi--monthly-only-rm1.8k--26x80-2storey-free-hoc"
                                        target=”_blank”>+
                                        View More</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="trainer-item">
                        <div class="image-thumb">
                            <img src="https://d5dkjitd3iude.cloudfront.net/eyJidWNrZXQiOiJ3d3cudGhlZWRnZXByb3BlcnR5LmNvbS5teSIsImtleSI6InMzZnMtcHVibGljXC8xMDEyMjNfMTY0NDMwMzA0OF81RWRnUHJvNV81MF8wLmpwZyIsImVkaXRzIjp7InJlc2l6ZSI6eyJ3aWR0aCI6MzAwLCJoZWlnaHQiOjIwMCwiZml0IjoiY292ZXIifX19"
                                alt="">
                        </div>
                        <div class="down-content">
                            <span>
                                <del><sup>RM</sup>500,000</del> <sup>RM</sup>462,188
                            </span>
                            <h4>Taman Bintang Mas, Dengkil</h4>
                            <p>Dengkil, Selangor</p>
                            <ul class="social-icons">
                                <li><a href="https://www.edgeprop.my/listing/sale/1583010/selangor/dengkil/landed/terracehouse/15-min-putrajaya-cyberjaya-partial-furnished-freehold-new-terrace-dengkil"
                                        target=”_blank”>+
                                        View More</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <br>

            <div class="main-button text-center">
                <a href="properties.html">View Properties</a>
            </div>
        </div>
    </section>
    <!-- ***** Cars Ends ***** -->

    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>
                        Copyright © 2020 ASMARALOKA</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="{{ url_for('static' , filename='../static/js/jquery-2.1.0.min.js') }}"></script>

    <!-- Bootstrap -->
    <script src="{{ url_for('static' , filename='../static/js/popper.js') }}"></script>
    <script src="{{ url_for('static' , filename='../static/js/bootstrap.min.js') }}"></script>

    <!-- Plugins -->
    <script src="{{ url_for('static' , filename='../static/js/scrollreveal.min.js') }}"></script>
    <script src="{{ url_for('static' , filename='../static/js/waypoints.min.js') }}"></script>
    <script src="{{ url_for('static' , filename='../static/js/jquery.counterup.min.js') }}"></script>
    <script src="{{ url_for('static' , filename='../static/js/imgfix.min.js') }}"></script>
    <script src="{{ url_for('static' , filename='../static/js/mixitup.js') }}"></script>
    <script src="{{ url_for('static' , filename='../static/js/accordions.js') }}"></script>



    <!-- Global Init -->
    <script src="{{ url_for('static' , filename='../static/js/custom.js') }}"></script>

</body>

</html>