<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link
        href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap"
        rel="stylesheet">
    <title>All Properties for Sale | ASMARALOKA</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static' , filename='../static/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static' , filename='../static/css/font-awesome.css') }}">
    <link rel="stylesheet" href="{{ url_for('static' , filename='../static/css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static' , filename='../static/css/properties.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static' , filename='../static/images/favicon.png') }}">
    <script src="https://kit.fontawesome.com/21bc1afb81.js" crossorigin="anonymous"></script>
</head>

<body>

    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky background-header">
        <div class="shadow-sm mb-5 bg-white rounded">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <nav class="main-nav">
                            <!-- ***** Logo Start ***** -->
                            <a href="/" class="logo">ASMARA<em>LOKA</em></a>
                            <!-- ***** Logo End ***** -->
                            <!-- ***** Menu Start ***** -->
                            <ul class="nav">
                                {% if current_user.is_authenticated %}
                                <li><a href="/clientLoggedIn">Home</a></li>
                                <li><a href="/properties" class="active">Properties</a></li>
                                <li class="dropdown">
                                    <a class="fa-solid fa-user" data-toggle="dropdown" role="button"
                                        aria-haspopup="true" aria-expanded="false"
                                        style="font-size: 25px; cursor:pointer;"></a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="clientAccount">My Profile</a>
                                        <a class="dropdown-item" href="/updateClient/{{current_user.client_ID}}">Account
                                            settings</a>
                                        <a class="dropdown-item" href="logout" style="padding-bottom: 45px;">Logout</a>
                                    </div>
                                </li>
                                {% else %}
                                <li><a href="/">Home</a></li>
                                <li><a href="/properties" class="active">Properties</a></li>
                                <li class="dropdown">
                                    <a class="fa-solid fa-user" data-toggle="dropdown" role="button"
                                        aria-haspopup="true" aria-expanded="false"
                                        style="font-size: 25px; cursor:pointer;"></a>

                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="loginClient">Login</a>
                                        <a class="dropdown-item" href="registerClient">Register</a>
                                        <span class="dropdown-partition">AGENT OPTIONS</span>
                                        <a class="dropdown-item" href="loginAgent">Login Agent</a>
                                        <a class="dropdown-item" href="registerAgent"
                                            style="padding-bottom: 45px;">Register Agent</a>
                                    </div>
                                </li>
                                {% endif %}
                            </ul>
                            <!-- ***** Menu End ***** -->
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Call to Action Start ***** -->
    <section class="section section-bg" id="call-to-action"
        style="background-image: url(static/images/banner-image-1-1920x500.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="cta-content">
                        <br>
                        <br>
                        <h2>Our <em>Properties</em></h2>
                        <p>Browse over one thousands properties for sale in our website!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Call to Action End ***** -->

    <!-- ***** Fleet Starts ***** -->
    <section class="section" id="trainers">
        <div class="container">
            <br>
            <br>


            <!-- ----------------------------- FILTERING START ----------------------------- -->

            <div class="contact-form">
                <form action="#" method="post" autocomplete="off">
                    <div class="row">
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label>Location:</label>
                                <select name="location">
                                    <option selected disabled>-- All --</option>
                                    <option value="Selangor">Selangor</option>
                                    <option value="Johor">Johor</option>
                                    <option value="Penang">Penang</option>
                                    <option value="Perak">Perak</option>
                                    <option value="Negeri Sembilan">Negeri Sembilan</option>
                                    <option value="Sabah">Sabah</option>
                                    <option value="Sarawak">Sarawak</option>
                                    <option value="Kedah">Kedah</option>
                                    <option value="Kelantan">Kelantan</option>
                                    <option value="Pahang">Pahang</option>
                                    <option value="Melaka">Melaka</option>
                                    <option value="Terengganu">Terengganu</option>
                                    <option value="Putrajaya">Putrajaya</option>
                                    <option value="Perlis">Perlis</option>
                                    <option value="Labuan">Labuan</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label>Bedroom:</label>
                                <select name="bedroom">
                                    <option selected disabled>-</option>
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10+">10+</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label>Bathroom:</label>
                                <select name="bathroom">
                                    <option selected disabled>-</option>
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10+">10+</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 offset-sm-4">
                        <input type="submit" class="btn btn-primary" id="filter-btn" value="Submit">
                    </div>
                </form>
                <br>
                <br>
            </div>

            <!-- ----------------------------- FILTERING END ----------------------------- -->

            <!-- ----------------------------- AGENT PROPERTY ---------------------------- -->

            <div class="card-container">
                {% for row in agent_property.items %}
                <div class="property-card">
                    <div class="property-card__item">
                        <!-- Banner -->
                        <div class="property-card__banner">
                            <img src="https://images.unsplash.com/photo-1512917774080-9991f1c4c750?ixlib=rb1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ"
                                alt="House 1">
                        </div>
                        <!-- Info -->
                        <div class="property-card__info">
                            <div class="property-card__headings">
                                <a href="/propertyDetails/{{row.property_ID}}">
                                    <h4 class="property-title property-card__heading">{{row.property_Title}}</h4>
                                </a>
                                <small class="property-card__heading--small">{{row.property_City}},
                                    {{row.property_State}}</small>
                            </div>
                            <div class="property-card__details">
                                <img id="detail-img"
                                    src="{{ url_for('static' , filename='../static/images/bedroom.svg') }}" alt="">
                                <div class="property-card__details--text">
                                    <p>Bedroom</p>
                                    <p>{{row.property_Bedroom}} beds</p>
                                </div>
                            </div>
                            <div class="property-card__details">
                                <img id="detail-img"
                                    src="{{ url_for('static' , filename='../static/images/bathroom.svg') }}" alt="">
                                <div class="property-card__details--text">
                                    <p>Bathroom</p>
                                    <p>{{row.property_Bathroom}} bath</p>
                                </div>
                            </div>
                            <div class="property-card__details">
                                <img id="detail-img"
                                    src="{{ url_for('static' , filename='../static/images/sqft.svg') }}" alt="">
                                <div class="property-card__details--text">
                                    <p>Area</p>
                                    <p>{{row.property_Sqft}}</p>
                                </div>
                            </div>
                            <div class="property-card__details">
                                <img id="detail-img"
                                    src="{{ url_for('static' , filename='../static/images/money-bag.svg') }}" alt="">
                                <div class="property-card__details--text">
                                    <p>Price</p>
                                    <p>RM{{"{:,}".format(row.property_Price)}}</p>
                                </div>
                            </div>
                        </div>
                        <!-- Button -->
                        <a href="/propertyDetails/{{row.property_ID}}"><button class="btn">See More
                                ></button></a>
                    </div>
                </div>
                {% endfor %}


                <!-- ----------------------------- SCRAPE PROPERTY ---------------------------- -->

                {% for row in scrape_property.items %}
                <div class="property-card">
                    <div class="property-card__item">
                        <!-- Banner -->
                        <div class="property-card__banner">
                            <img src="{{row.property_Image}}" alt="House 1">
                        </div>
                        <!-- Info -->
                        <div class="property-card__info">
                            <div class="property-card__headings">
                                <a href="{{row.property_Origin_URL}}" target="_blank">
                                    <h4 class="property-title property-card__heading">{{row.property_Title}}</h4>
                                </a>
                                <small class="property-card__heading--small">{{row.property_District}},
                                    {{row.property_State}}</small>
                            </div>
                            <div class="property-card__details">
                                <img id="detail-img"
                                    src="{{ url_for('static' , filename='../static/images/bedroom.svg') }}" alt="">
                                <div class="property-card__details--text">
                                    <p>Bedroom</p>
                                    <p>{{row.property_Bedroom}} beds</p>
                                </div>
                            </div>
                            <div class="property-card__details">
                                <img id="detail-img"
                                    src="{{ url_for('static' , filename='../static/images/bathroom.svg') }}" alt="">
                                <div class="property-card__details--text">
                                    <p>Bathroom</p>
                                    <p>{{row.property_Bathroom}} bath</p>
                                </div>
                            </div>
                            <div class="property-card__details">
                                <img id="detail-img"
                                    src="{{ url_for('static' , filename='../static/images/sqft.svg') }}" alt="">
                                <div class="property-card__details--text">
                                    <p>Area</p>
                                    <p>{{row.property_Sqft}}</p>
                                </div>
                            </div>
                            <div class="property-card__details">
                                <img id="detail-img"
                                    src="{{ url_for('static' , filename='../static/images/money-bag.svg') }}" alt="">
                                <div class="property-card__details--text">
                                    <p>Price</p>
                                    <p>RM{{row.property_Price}}</p>
                                </div>
                            </div>
                        </div>
                        <!-- Button -->
                        <a href="{{row.property_Origin_URL}}" target="_blank">
                            <button class="btn">See More></button>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
            <br>


            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    {% if scrape_property.has_prev %}
                    <li class="page-item">
                        <a class="page-link"
                            href="{{ url_for('properties', page=scrape_property.prev_num) }}">Previous</a>
                    </li>
                    {% else %}
                    <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                    {% endif %}

                    {% for page in scrape_property.iter_pages(left_edge=3, right_edge=3) %}
                    {% if page %}

                    {% if page==scrape_property.page %}
                    <li class="page-item active"><a class="page-link" href="{{ url_for('properties', page=page) }}">{{
                            page }}</a></li>
                    {% else %}
                    <li class="page-item"><a class="page-link" href="{{ url_for('properties', page=page) }}">{{ page
                            }}</a>
                    </li>
                    {% endif %}

                    {% else %}
                    <li class="page-item disabled" id="example_ellipsis"><a href="#" class="page-link">…</a></li>
                    {% endif %}
                    {% endfor %}

                    {% if scrape_property.has_next %}
                    <li class="page-item"> <a class="page-link"
                            href="{{ url_for('properties', page=scrape_property.next_num) }}">Next</a></li>
                    {% else %}
                    <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
                    {% endif %}

                </ul>
            </nav>


        </div>
    </section>
    <!-- ***** Fleet Ends ***** -->


    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>
                        Copyright © 2020 Company Name
                        - Template by: <a href="https://www.phpjabbers.com/">PHPJabbers.com</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="{{ url_for('static' , filename='../static/js/jquery-2.1.0.min.js') }}"></script>

    <!-- Bootstrap -->
    <script src="{{ url_for('static' , filename='../static/js/popper.js') }}"></script>
    <script src="{{ url_for('static' , filename='../static/js/bootstrap.min.js') }}"></script>

    <!-- Plugins -->
    <script src="{{ url_for('static' , filename='../static/js/scrollreveal.min.js') }}"></script>
    <script src="{{ url_for('static' , filename='../static/js/waypoints.min.js') }}"></script>
    <script src="{{ url_for('static' , filename='../static/js/jquery.counterup.min.js') }}"></script>
    <script src="{{ url_for('static' , filename='../static/js/imgfix.min.js') }}"></script>
    <script src="{{ url_for('static' , filename='../static/js/mixitup.js') }}"></script>
    <script src="{{ url_for('static' , filename='../static/js/accordions.js') }}"></script>



    <!-- Global Init -->
    <script src="{{ url_for('static' , filename='../static/js/custom.js') }}"></script>

</body>

</html>